<% @lists.each do |list| %>
  <div class="index_row clearfix">
    <h2 class="list_title"><%= link_to list.title, list %></h2>
    <p class="description"><%= list.description %></p>
  </div>
<% end %>

<div class="links">
  <h4><%= link_to "Create a New Todo List", new_list_path %></h4>
</div>
