<% @lists.each do |list| %>
  <div class="index_row clearfix">
    <h2 class="list_title"><%= link_to list.title, list %></h2>
    <p class="description"><%= list.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "Create a New List", new_list_path %>
</div>
