<h1 class="list_title">Welcome, <%= current_user.name %>!</h1>
<p class="description"><i>Goal without a plan is just a wish. Stop waiting, & start doing!<br />
Let's get things done!</p></i>

<div class="links">
  <%= link_to "New To-Do List", new_list_path %><br />
  <%= link_to "View To-Do Lists", lists_path %>
</div>
