<div class="jumbotron">
  <h1>Reminder</h1>
  <h4>To-Do List App that helps you <i>always</i> remember the important tasks</h4>
  <p>Start creating weekly reminders to increase your productivity!</p>
  <%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-info'%>
</div>
