/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

$white_opaque: rgba(250, 250, 250, .3);
$dark: #668fca;

body {
 height: 100%;
 background: #83a4d4; /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.row {
  margin-left: 20px;
  margin-right: 15px;
}

.container {
	width: 50%;
	max-width: 750px;
	background: $white_opaque;
	margin: 4em;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
    margin-left: 15em;
}

.jumbotron{
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
}

#items_wrapper {
	.row {
		width: 100%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
  }
  .item {
  width: 80%;
  float: left;
    p {
      margin: 0;
      padding: 1em;
      color: $dark;
      font-weight: 100;
      font-size: 1.2em;
    }
    i {
      color: white;
    }
  }
}

.list_title {
  color: white;
  font-weight: 700;
  font-size: 2.7rem;
  text-transform: uppercase;
  margin: 0;
  a {
    text-decoration: none;
    color: white;
    &:hover{
      opacity: 0.5;
    }
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.8rem;
  a {
    color: rgba(119,119,119, 0.4);
  }
}

.description {
  font-size:0.9em;
  color: $dark;
  font-weight: 100;
}

.links {
  display: inline-block;
  outline: 1px solid white;
  padding: 5px;
  margin: 1.5em auto;
  text-decoration: none;
  font-size:0.9em;
  font-weight: bold;
  letter-spacing: -0.2px;
  a {
    text-decoration: none;
    color: white;
    &:hover{
      opacity: 0.5;
      color: $dark;
    }
  }
}

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(140, 178, 220, 0.7);
  .alert, .notice {
    padding: 1.7rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
  }
}

#user-navlinks{
  padding-top: 16px;
  font-size: 0.9em;
  letter-spacing: -0.2px;
  color: $dark;
}
